<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="stylesheet" href="{{url_for('static', filename= 'css/home.css') }}"> -->
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>


  <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


 <!-- <link rel="stylesheet" href="home.css"> -->
 <link rel="stylesheet" href="{{url_for('static', filename= 'css/home.css') }}">

<!--  <style>

</style> -->
  <title></title>
</head>
<body>

<div class="container py-5">


  <!-- For demo purpose -->
  <div class="row mb-2">
    <div class="col-lg-8 mx-auto text-center">
      <!-- <h1 class="display-4">Bootstrap 4 credit card form</h1> -->
      <!-- <p class="lead mb-0">Easily build a well-structured credit card form using Bootstrap 4</p> -->
      <!-- <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets">Bootstrapious</a></p> -->
    </div>
  </div>
  <!-- End -->


  <div class="row">
    <div class="col-lg-9 mx-auto">
      <div class="bg-white rounded-lg shadow-sm p-5">



<div class="row justify-content-center">
  <img src="{{url_for('static', filename= 'image/logo1.png') }}" alt="" width="150" height="80">
                                <!-- <div class="form-group flex-column d-flex px-5"> 
                                    <strong>Krishna Yadav</strong> 
                                    <div>krishna.yadav25021999@gmail.com</div>
                                    <div>+91 8319518516</div>
                                </div> -->
                                <!-- <div class=""> <div class="vl"></div> </div> -->
                                <!-- <div class="form-group col-sm-3 flex-column d-flex">  </div> -->
                            </div>


<hr>

        <!-- Credit card form tabs -->
        <div class=" mx-auto p-1">
        <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
          <li class="nav-item">
            
          </li>
          <li class="nav-item">
            
          </li>
          <li class="nav-item">
            <a data-toggle="pill" href="#nav-tab-bank" class="nav-link active rounded-pill">
                                <i class="fa fa-university"></i>
                                 Bill
                             </a>
          </li>
        </ul>
    </div>
        <!-- End -->


        <!-- Credit card form content -->
        <div class="tab-content">



          <!-- bank transfer info -->
          <div id="nav-tab-bank" class="tab-pane fade show active">


            <form class="form-card" action = "/billing" method = "GET"><!--  <form>   -->
                            

                <div class="container">
  <div class="card mt-3">
    <div class="card-header"> Invoice <strong>01/01/01/2018</strong>
     <!-- <span class="float-right"> <strong>Status:</strong> Pending</span>  -->
 </div>
    <div class="card-body">
      <div class="row mb-5">
        <!-- <div class="mt-4 col-xl-3 col-lg-3 col-md-6 col-sm-12">
          <h6>From:</h6>
          <div> <strong>Webz Poland</strong> </div>
          <div>Madalinskiego 8</div>
          <div>71-101 Szczecin, Poland</div>
          <div>Email: info@webz.com.pl</div>
          <div>Phone: +48 444 666 3333</div>
        </div> -->
        <div class="mt-4 col-xl-4 col-lg-1 col-md-4 col-sm-12">
          <h6>Address :</h6>
          <div> <strong>XYZ</strong> </div>
          <div>Attn: Daniel Marek</div>
          <div>43-190 Mikolow, Poland</div>
          <div>Email: marek@daniel.com</div>
          <div>Phone: +48 123 456 789</div>
        </div>
        <div class="mt-4 col-xl-8 col-lg-5 col-md-12 col-sm-12 d-flex justify-content-lg-end justify-content-md-center justify-content-xs-start">
          <div class="row align-items-center" style="font-size: 0.9rem;">
            <div class="col-auto"> <img src="https://apirone.com/static/promo/bitcoin_logo_vector.svg" class="img-fluid mb-3" style="max-height: 30px;" alt=""><br>
              <span>Total Amount: <strong><h2>{{p2_response.final_price.total_cost}} Rs.</h2></strong><br>


            
              <!-- <strong>1DonateWffyhwAjskoEwXt83pHZxhLTr8H</strong></span><br>
              <small class="text-muted">Please share the recipt</small>  -->
          </div>
            <div class=" col-auto"> <img src="data:image/png;base64, {{p2_response.opqr}}" alt="Red dot" style="max-width: 114px;"> </div>

           


          </div>
        </div>
      </div>
      <div class="table-responsive-sm">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="center">#</th>
              <!-- <th>Item</th> -->
              <th>Description</th>
              <th class="right">Quantity</th>
              <th class="center">Cost per page</th>
              <th class="right">Amount(Rs.)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="center">1</td>
              <!-- <td class="left strong">Origin License</td> -->
              <td class="left">B&W Pages</td>
              <td class="right">{{p2_response.final_price.no_of_BW_pages}}</td>
              <td class="center">{{p2_response.final_price.CPP_BW}}</td>
              <td class="right">{{p2_response.final_price.cost_BW_pages}}</td>
            </tr>
            <tr>
              <td class="center">2</td>
              <!-- <td class="left">Custom Services</td> -->
              <td class="left">Colour Pages</td>
              <td class="right">{{p2_response.final_price.no_of_color_pages}}</td>
              <td class="center">{{p2_response.final_price.CPP_color}}</td>
              <td class="right">{{p2_response.final_price.cost_color_pages}}</td>
            </tr>
            <tr>
              <td class="center">3</td>
              <!-- <td class="left">Hosting</td> -->
              <td class="left">Binding cost per copy</td>
              <td class="right"> </td>
              <td class="center"> </td>
              <td class="right">{{p2_response.final_price.binding_cost_per_copy}}</td>
            </tr>
            <tr>
              <td class="center">4</td>
              <!-- <td class="left"></td>  -->
              <td class="left">Total cost per copy</td>
              <td class="right"> </td>
              <td class="center"> </td>
              <td class="right">{{p2_response.final_price.cost_per_copy}}</td>
            </tr>
            <tr>
              <td class="center">5</td>
              <!-- <td class="left"></td>  -->
              <td class="left">Cost for all copies</td>
              <td class="right">{{p2_response.final_price.no_of_copies}} </td>
              <td class="center"> </td>
              <td class="right">{{p2_response.final_price.cost_per_copy}} x {{p2_response.final_price.no_of_copies}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-lg-8 col-sm-5"> </div>
        <div class="col-lg-6 col-sm-5 ml-auto">
          <table class="table table-clear">
            <tbody>
              <!-- <tr>
                <td class="left"><strong>Subtotal</strong></td>
                <td class="right">0.00 Rs.</td>
              </tr> -->
              <tr>
                <td class="left"><strong>Delivery Cost</strong></td>
                <td class="right">{{p2_response.final_price.no_of_copies}} Rs.</td>
              </tr>
              <tr>
                <td class="left"><strong>Total</strong></td>
                <td class="right"><strong>{{p2_response.final_price.total_cost}} Rs.</strong><br>
                  <!-- <strong>0.15050000 BTC</strong></td>-->
              </tr>
            </tbody>
          </table>






        </div>


      </div>

           <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">Upload Recipt : </label> 
                                    <input class=" btn btn-secondary btn-block" type="file" id="Upload_Recipt" name="p3_recipt" capture="Upload_Recipt" placeholder="Files">
                                 </div> 


                            </div>


            <button type="submit" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm" > Confirm  </button>


  </div>

</div>




        <!-- End -->

      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="{{url_for('static', filename= 'js/home.js') }}" > </script>
<!-- <script src="home.js"></script> -->

</body>
</html>


