<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="stylesheet" href="{{url_for('static', filename= 'css/home.css') }}"> -->
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>


  <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


 <!-- <link rel="stylesheet" href="home.css"> -->
 <link rel="stylesheet" href="{{url_for('static', filename= 'css/home.css') }}">

<!--  <style>

</style> -->
  <title></title>
</head>
<body>

<div class="container py-5">

  <!-- For demo purpose -->
  <div class="row mb-4">
    <div class="col-lg-8 mx-auto text-center">
      <!-- <h1 class="display-4">Bootstrap 4 credit card form</h1> -->
      <!-- <p class="lead mb-0">Easily build a well-structured credit card form using Bootstrap 4</p> -->
      <!-- <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets">Bootstrapious</a></p> -->
    </div>
  </div>
  <!-- End -->


  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="bg-white rounded-lg shadow-sm p-5">
        <!-- Credit card form tabs -->
        <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
          <li class="nav-item">
            
          </li>
          <li class="nav-item">
            <a data-toggle="pill" href="#nav-tab-paypal" class="nav-link active rounded-pill">
                                <i class="fa fa-gear"></i>
                                Config
                            </a>
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
        <!-- End -->


        <!-- Credit card form content -->
        <div class="tab-content">



          <!-- Paypal info -->
      <div id="nav-tab-paypal" class="tab-pane fade show active">

        <div class="row justify-content-between text-left">
                                
          <div class="form-group  col-sm-6 flex-column d-flex"> 
                                    <label class="form-control-label px-3">Duplexity Specification : <span class="text-danger"> *</span></label> 
                                    <label class="form-control-label px-3"><input type="radio" id="r1" name="Role" placeholder="" onblur="valid(5)" value="One_side_printing" required>   One side printing (Duplex)</label>
                                    <label class="form-control-label px-3"><input type="radio" id="r2" name="Role" placeholder="" onblur="valid(5)" value="Two_side_printing" required>    Two side printing (Non Duplex)</label> 
                                </div>

          <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <label class="form-control-label px-3">Color Specification : <span class="text-danger"> *</span></label> 
                                    <label class="form-control-label px-3"><input type="radio" id="r1" name="Role" placeholder="" onblur="valid(5)" value="Colored" required> Colored</label>
                                    <label class="form-control-label px-3"><input type="radio" id="r2" name="Role" placeholder="" onblur="valid(5)" value="BnW" required> Black & White</label>
                                    <label class="form-control-label px-3"><input type="radio" id="r2" name="Role" placeholder="" onblur="valid(5)" value="Money_saver_print" required> Money saver print</label> 
                                </div>


      </div>
                                
                           
      <div class="row justify-content-between text-left">

          <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <label class="form-control-label px-3">Size Specification : <span class="text-danger"> *</span></label> 
                                    <label class="form-control-label px-3"><input type="radio" id="r1" name="Role" placeholder="" onblur="valid(5)" value="Paper_Size" required> Paper Size</label>
                                    <label class="form-control-label px-3"><input type="radio" id="r2" name="Role" placeholder="" onblur="valid(5)" value="A4" required> A4</label>
                                    <label class="form-control-label px-3"><input type="radio" id="r2" name="Role" placeholder="" onblur="valid(5)" value="A5" required> A5</label> 
                                    <label class="form-control-label px-3"><input type="radio" id="r2" name="Role" placeholder="" onblur="valid(5)" value="A5" required> A6</label> 
                                </div>

          <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <label class="form-control-label px-3">Binding : <span class="text-danger"> *</span></label> 
                                    <label class="form-control-label px-3"><input type="radio" id="r1" name="Role" placeholder="" onblur="valid(5)" value="Loose_Papers" required> Loose Papers</label>
                                    <label class="form-control-label px-3"><input type="radio" id="r2" name="Role" placeholder="" onblur="valid(5)" value="Stapled" required> Stapled</label>
                                    <label class="form-control-label px-3"><input type="radio" id="r2" name="Role" placeholder="" onblur="valid(5)" value="Spiral_binding" required> Spiral binding</label> 
                                    <label class="form-control-label px-3"><input type="radio" id="r2" name="Role" placeholder="" onblur="valid(5)" value="Hard_Cover" required> Hard Cover</label> 
                                </div>


      </div>

      <hr>

        <div class="row justify-content-between text-left">
                                <div class="form-group col-12 flex-column d-flex">
                                <label class="form-control-label px-3">WHERE DO WE DELIVER THIS TO ? </label>
                                 <label class="form-control-label px-3">Google Map Location : <span class="text-danger"> *</span></label> <input type="text" id="G_loc" name="G_loc" placeholder="Link" onblur="valid(6)" required >
                          
                                  </div>
                            </div>

        <div class="row justify-content-between text-left">
                                <div class="form-group col-12 flex-column d-flex">
                                 <label class="form-control-label px-3">Address : <span class="text-danger"> *</span></label> <input type="text" id="Address" name="Address" placeholder="PLease enter full address" onblur="valid(6)" required >

                                  </div>
                            </div>


        <button type="button" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"> Confirm  </button>  

          </div>
          <!-- End -->


        </div>
        <!-- End -->

      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="{{url_for('static', filename= 'js/home.js') }}" > </script>
<!-- <script src="home.js"></script> -->

</body>
</html>


